In [3]:
d1 = {'John':236,'Mary':124,'Tom':325}

In [4]:
d1

{'John': 236, 'Mary': 124, 'Tom': 325}

In [5]:
list(d1.keys())

['John', 'Mary', 'Tom']

In [11]:
list(d1.values())

[236, 124, 325]

In [10]:
list(d1.items())

[('John', 236), ('Mary', 124), ('Tom', 325)]

In [13]:
del d1 ['Tom']

KeyError: 'Tom'

In [14]:
list(d1.itmes())

AttributeError: 'dict' object has no attribute 'itmes'

In [16]:
d1['Louis']=435

In [17]:
list(d1.items())

[('John', 236), ('Mary', 124), ('Louis', 435)]

In [18]:
'John'in d1

True

In [19]:
'Tom'in d1

False

In [20]:
d1.get('John')

236

In [21]:
#looking for a non existing key

In [22]:
d1.get('Tom')

In [23]:
d1.get('Tom','not in')

'not in'

In [24]:
# second argument isused fornon existent keys

## strings

In [26]:
w1 = 'my name'

In [27]:
w1[0]

'm'

In [28]:
w1[-1]

'e'

In [29]:
w1[1:]

'y name'

In [30]:
# new line delimeter

In [31]:
w2 = "my name\n"

In [32]:
len(w2)

8

In [33]:
w2[7]

'\n'

In [34]:
print(w2)

my name

In [35]:
print(w2,".")

my name
 .

In [36]:
# strings connot be modified

In [37]:
w1[0]

'm'

In [39]:
w1[0] ="m"

TypeError: 'str' object does not support item assignment

In [45]:
w3 = "My" +" "+ "name"

In [46]:
w3

'My name'

In [47]:
w4 = 3*"ab"

In [48]:
w4

'ababab'

In [49]:
# split a string

In [50]:
w1

'my name'

In [51]:
w1.split()

['my', 'name']

In [54]:
w5 = "Mississippi"

In [55]:
w5.split("ss")

['Mi', 'i', 'ippi']

File Operations

In [56]:
# read first line and \n

In [57]:
f1 = open("paragraph.txt")

FileNotFoundError: [Errno 2] No such file or directory: 'paragraph.txt'

In [58]:
line = f1.readline()

NameError: name 'f1' is not defined

In [59]:
# count the number of time a word apprears

In [60]:
dict1 = {}

In [67]:
sentence = "To be or not to be"

In [68]:
sentence.split()

['To', 'be', 'or', 'not', 'to', 'be']

In [69]:
for each_word in sentence.split():
    dict1[each_word] = dict1.get(each_word,0) + 1

In [70]:
for each_word in dict1:
    print("word",each_word,"occurs",dict1[each_word],"times")

word to occurs 3 times
word be occurs 4 times
word or occurs 2 times
word not occurs 2 times
word To occurs 1 times

In [72]:
for each_word in sentence.split():
    each_word = each_word.lower()
    dict1[each_word] = dict1.get(each_word,0) + 1

In [73]:
for each_word in dict1:
    print("word",each_word,"occurs",dict1[each_word],"times")

word to occurs 5 times
word be occurs 6 times
word or occurs 3 times
word not occurs 3 times
word To occurs 1 times

In [74]:
dict1 = {}

In [75]:
for each_word in sentence.split():
    each_word = each_word.lower()
    dict1[each_word] = dict1.get(each_word,0) + 1

In [76]:
for each_word in dict1:
    print("word",each_word,"occurs",dict1[each_word],"times")

word to occurs 2 times
word be occurs 2 times
word or occurs 1 times
word not occurs 1 times