# HM2 - Ada Zhong

In [1]:
import numpy as np
import pandas as pd

In [2]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [3]:
df = pd.read_csv('homes.csv')

In [4]:
df.columns

Index(['price', 'area', 'beds', 'baths', 'garage', 'year', 'style', 'lotsize',
       'ac', 'pool', 'quality', 'highway'],
      dtype='object')

In [5]:
df['2001'] = 2001

In [6]:
df['age'] = df.apply(lambda row: row['2001'] - row['year'],axis=1)
df['year'] = df['age']
df = df.drop(['age','2001'],axis = 1)
df.rename(columns = {'year':'age'},inplace = True)
df[:5]

,price,area,beds,baths,garage,age,style,lotsize,ac,pool,quality,highway
0,360000,3032,4,4,2,29,1,22221,YES,NO,MEDIUM,NO
1,340000,2058,4,2,2,25,1,22912,YES,NO,MEDIUM,NO
2,250000,1780,4,3,2,21,1,21345,YES,NO,MEDIUM,NO
3,205500,1638,4,2,2,38,1,17342,YES,NO,MEDIUM,NO
4,275500,2196,4,3,2,33,7,21786,YES,NO,MEDIUM,NO

In [7]:
list1 = ['price','lotsize','area','beds','baths','age','garage']
list1

['price', 'lotsize', 'area', 'beds', 'baths', 'age', 'garage']

In [8]:
df1 = df[list1]
df1[:5]

    price  lotsize  area  beds  baths  age  garage
0  360000    22221  3032     4      4   29       2
1  340000    22912  2058     4      2   25       2
2  250000    21345  1780     4      3   21       2
3  205500    17342  1638     4      2   38       2
4  275500    21786  2196     4      3   33       2

In [9]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 522 entries, 0 to 521
Data columns (total 7 columns):
price      522 non-null int64
lotsize    522 non-null int64
area       522 non-null int64
beds       522 non-null int64
baths      522 non-null int64
age        522 non-null int64
garage     522 non-null int64
dtypes: int64(7)
memory usage: 28.6 KB

Question 1

In [10]:
import statsmodels.api as sm

In [11]:
x0 = df1.iloc[:,3]
x0[:5]

0    4
1    4
2    4
3    4
4    4
Name: beds, dtype: int64

In [12]:
y0 = df1.iloc[:,0]
y0[:5]

0    360000
1    340000
2    250000
3    205500
4    275500
Name: price, dtype: int64

In [13]:
x = x0.to_numpy()

In [14]:
x1 = sm.add_constant(x)
x1[:5]

array([[1., 4.],
       [1., 4.],
       [1., 4.],
       [1., 4.],
       [1., 4.]])

In [15]:
m1 = sm.OLS(y0,x1).fit()

In [16]:
m1.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.171
Model:                            OLS   Adj. R-squared:                  0.169
Method:                 Least Squares   F-statistic:                     107.1
Date:                Wed, 25 Sep 2019   Prob (F-statistic):           5.89e-23
Time:                        16:06:23   Log-Likelihood:                -6868.9
No. Observations:                 522   AIC:                         1.374e+04
Df Residuals:                     520   BIC:                         1.375e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       8.281e+04   1.96e+04      4.218      0.000    4.42e+04    1.21e+05
x1           5.62e+04   5429.563     10.351      0.000    4.55e+04    6.69e+04
==============================================================================
Omnibus:                      189.593   Durbin-Watson:                   0.557
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              565.334
Skew:                           1.767   Prob(JB):                    1.73e-123
Kurtosis:                       6.676   Cond. No.                         13.8
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [17]:
m1.params

const    82808.799613
x1       56200.083666
dtype: float64

In [18]:
# The estimated increase in price is $56,200 for each additional bedroom

Question 2

In [19]:
X0 = df1.iloc[:,1:7]
X0[:5]

   lotsize  area  beds  baths  age  garage
0    22221  3032     4      4   29       2
1    22912  2058     4      2   25       2
2    21345  1780     4      3   21       2
3    17342  1638     4      2   38       2
4    21786  2196     4      3   33       2

In [20]:
X = X0.to_numpy()
X1 = sm.add_constant(X)
X1[:5]

array([[1.0000e+00, 2.2221e+04, 3.0320e+03, 4.0000e+00, 4.0000e+00,
        2.9000e+01, 2.0000e+00],
       [1.0000e+00, 2.2912e+04, 2.0580e+03, 4.0000e+00, 2.0000e+00,
        2.5000e+01, 2.0000e+00],
       [1.0000e+00, 2.1345e+04, 1.7800e+03, 4.0000e+00, 3.0000e+00,
        2.1000e+01, 2.0000e+00],
       [1.0000e+00, 1.7342e+04, 1.6380e+03, 4.0000e+00, 2.0000e+00,
        3.8000e+01, 2.0000e+00],
       [1.0000e+00, 2.1786e+04, 2.1960e+03, 4.0000e+00, 3.0000e+00,
        3.3000e+01, 2.0000e+00]])

In [21]:
m2 = sm.OLS(y0,X1).fit()
m2.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.751
Model:                            OLS   Adj. R-squared:                  0.748
Method:                 Least Squares   F-statistic:                     259.4
Date:                Wed, 25 Sep 2019   Prob (F-statistic):          4.21e-152
Time:                        16:06:24   Log-Likelihood:                -6554.5
No. Observations:                 522   AIC:                         1.312e+04
Df Residuals:                     515   BIC:                         1.315e+04
Df Model:                           6
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const      -6707.5382   1.88e+04     -0.356      0.722   -4.37e+04    3.03e+04
x1             1.5550      0.272      5.717      0.000       1.021       2.089
x2           125.7386      6.963     18.057      0.000     112.059     139.419
x3         -1.304e+04   3780.397     -3.450      0.001   -2.05e+04   -5614.498
x4          7987.5518   4818.957      1.658      0.098   -1479.680    1.75e+04
x5         -1779.6108    215.487     -8.259      0.000   -2202.953   -1356.268
x6          2.253e+04   5814.344      3.875      0.000    1.11e+04     3.4e+04
==============================================================================
Omnibus:                      124.114   Durbin-Watson:                   1.327
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              384.582
Skew:                           1.110   Prob(JB):                     3.08e-84
Kurtosis:                       6.571   Cond. No.                     1.71e+05
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.71e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [22]:
m2.params

const    -6707.538167
x1           1.554990
x2         125.738603
x3      -13041.394214
x4        7987.551827
x5       -1779.610838
x6       22530.379289
dtype: float64

2.a)

In [23]:
# yhat = 9308.959377 + 1.554990 lotsize + 125.738603 area - 13041.394214 beds + 7987.551827 baths - 1779.610838 age + 22530.379289 garage

In [24]:
# coefficients as shown in params

2.b)

In [25]:
list1

['price', 'lotsize', 'area', 'beds', 'baths', 'age', 'garage']

In [26]:
list1.remove('price')
list1.insert(0,'constant')
list1

['constant', 'lotsize', 'area', 'beds', 'baths', 'age', 'garage']

In [27]:
list_values = [1,24500,2650,3,3,11,2]

In [28]:
z = pd.DataFrame([list_values],columns = list1)
z

   constant  lotsize  area  beds  baths  age  garage
0         1    24500  2650     3      3   11       2

In [29]:
p = m2.get_prediction(z)

In [30]:
p.summary_frame(alpha = 0.05)

,mean,mean_se,mean_ci_lower,mean_ci_upper,obs_ci_lower,obs_ci_upper
0,374920.532647,6511.365875,362128.426983,387712.63831,238431.17994,511409.885353

2.c)

In [31]:
np.median(df1,axis=0)

array([2.299e+05, 2.220e+04, 2.061e+03, 3.000e+00, 3.000e+00, 3.500e+01,
       2.000e+00])

In [32]:
median_values = [1, 2.220e+04, 2.061e+03, 3.000e+00, 3.000e+00, 3.500e+01,
       2.000e+00]

In [33]:
m = pd.DataFrame([median_values],columns = list1)
m

   constant  lotsize    area  beds  baths   age  garage
0         1  22200.0  2061.0   3.0    3.0  35.0     2.0

In [34]:
q = m2.get_prediction(m)

In [35]:
q.summary_frame()

,mean,mean_se,mean_ci_lower,mean_ci_upper,obs_ci_lower,obs_ci_upper
0,254573.357919,4595.921615,245544.29765,263602.418187,118385.144904,390761.570933

Question 3

In [36]:
df.corr()

,price,area,beds,baths,garage,age,style,lotsize
price,1.000000,0.819470,0.413324,0.683685,0.577786,-0.555516,0.357493,0.224169
area,0.819470,1.000000,0.557838,0.755273,0.533766,-0.441197,0.616842,0.157525
beds,0.413324,0.557838,1.000000,0.583447,0.316814,-0.268692,0.380370,0.126538
baths,0.683685,0.755273,0.583447,1.000000,0.489898,-0.512841,0.492983,0.147007
garage,0.577786,0.533766,0.316814,0.489898,1.000000,-0.461760,0.234848,0.152219
age,-0.555516,-0.441197,-0.268692,-0.512841,-0.461760,1.000000,-0.234059,0.100452
style,0.357493,0.616842,0.380370,0.492983,0.234848,-0.234059,1.000000,-0.013115
lotsize,0.224169,0.157525,0.126538,0.147007,0.152219,0.100452,-0.013115,1.000000

In [37]:
# In terms of correlation with the house price, the best predictor is area and the worst is lot size.

Question 4

In [38]:
df[:5]

,price,area,beds,baths,garage,age,style,lotsize,ac,pool,quality,highway
0,360000,3032,4,4,2,29,1,22221,YES,NO,MEDIUM,NO
1,340000,2058,4,2,2,25,1,22912,YES,NO,MEDIUM,NO
2,250000,1780,4,3,2,21,1,21345,YES,NO,MEDIUM,NO
3,205500,1638,4,2,2,38,1,17342,YES,NO,MEDIUM,NO
4,275500,2196,4,3,2,33,7,21786,YES,NO,MEDIUM,NO

In [39]:
df.quality.unique()

array(['MEDIUM', 'LOW', 'HIGH'], dtype=object)

In [40]:
pd.value_counts(df.quality)

MEDIUM    290
LOW       164
HIGH       68
Name: quality, dtype: int64

In [41]:
df2 = pd.get_dummies(df,columns = ['ac','pool','quality','highway'], drop_first = True)
df2[:5]

,price,area,beds,baths,garage,age,style,lotsize,ac_YES,pool_YES,quality_LOW,quality_MEDIUM,highway_YES
0,360000,3032,4,4,2,29,1,22221,1,0,0,1,0
1,340000,2058,4,2,2,25,1,22912,1,0,0,1,0
2,250000,1780,4,3,2,21,1,21345,1,0,0,1,0
3,205500,1638,4,2,2,38,1,17342,1,0,0,1,0
4,275500,2196,4,3,2,33,7,21786,1,0,0,1,0

In [42]:
df4 = df2

In [43]:
R = df2.price
P = df2.drop(columns = 'price', axis = 1)

In [44]:
m3 = LinearRegression().fit(P,R)

In [45]:
MSE = mean_squared_error(R,m3.predict(P))
SSE = MSE * len(R)
R_squared = m3.score(P,R)

In [46]:
def get_sse(P, R):
    model_k = LinearRegression().fit(P, R)
    SSE = mean_squared_error(R,model_k.predict(P))*len(R)
    R_squared = model_k.score(P,R)
    return SSE, R_squared

In [47]:
SSE, R_squared = get_sse(P,R)

In [48]:
SSE_list, R2_list, feature_list, num_features = [],[],[],[]

In [49]:
import itertools

In [98]:
col = P.columns
t = len(P.columns)
t

12

In [51]:
itertools.combinations(col,2)

In [52]:
list(itertools.combinations(col,2))

[('area', 'beds'),
 ('area', 'baths'),
 ('area', 'garage'),
 ('area', 'age'),
 ('area', 'style'),
 ('area', 'lotsize'),
 ('area', 'ac_YES'),
 ('area', 'pool_YES'),
 ('area', 'quality_LOW'),
 ('area', 'quality_MEDIUM'),
 ('area', 'highway_YES'),
 ('beds', 'baths'),
 ('beds', 'garage'),
 ('beds', 'age'),
 ('beds', 'style'),
 ('beds', 'lotsize'),
 ('beds', 'ac_YES'),
 ('beds', 'pool_YES'),
 ('beds', 'quality_LOW'),
 ('beds', 'quality_MEDIUM'),
 ('beds', 'highway_YES'),
 ('baths', 'garage'),
 ('baths', 'age'),
 ('baths', 'style'),
 ('baths', 'lotsize'),
 ('baths', 'ac_YES'),
 ('baths', 'pool_YES'),
 ('baths', 'quality_LOW'),
 ('baths', 'quality_MEDIUM'),
 ('baths', 'highway_YES'),
 ('garage', 'age'),
 ('garage', 'style'),
 ('garage', 'lotsize'),
 ('garage', 'ac_YES'),
 ('garage', 'pool_YES'),
 ('garage', 'quality_LOW'),
 ('garage', 'quality_MEDIUM'),
 ('garage', 'highway_YES'),
 ('age', 'style'),
 ('age', 'lotsize'),
 ('age', 'ac_YES'),
 ('age', 'pool_YES'),
 ('age', 'quality_LOW'),
 ('age', 'quality_MEDIUM'),
 ('age', 'highway_YES'),
 ('style', 'lotsize'),
 ('style', 'ac_YES'),
 ('style', 'pool_YES'),
 ('style', 'quality_LOW'),
 ('style', 'quality_MEDIUM'),
 ('style', 'highway_YES'),
 ('lotsize', 'ac_YES'),
 ('lotsize', 'pool_YES'),
 ('lotsize', 'quality_LOW'),
 ('lotsize', 'quality_MEDIUM'),
 ('lotsize', 'highway_YES'),
 ('ac_YES', 'pool_YES'),
 ('ac_YES', 'quality_LOW'),
 ('ac_YES', 'quality_MEDIUM'),
 ('ac_YES', 'highway_YES'),
 ('pool_YES', 'quality_LOW'),
 ('pool_YES', 'quality_MEDIUM'),
 ('pool_YES', 'highway_YES'),
 ('quality_LOW', 'quality_MEDIUM'),
 ('quality_LOW', 'highway_YES'),
 ('quality_MEDIUM', 'highway_YES')]

In [53]:
list(range(1,t+1))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [54]:
for k in range (1, t+1):
    for subset in itertools.combinations(P.columns,k):
        
        temp = get_sse(P[list(subset)],R)
        
        SSE_list.append(temp[0])
        R2_list.append(temp[1])
        feature_list.append(subset)
        num_features.append(len(subset))

In [55]:
df2 = pd.DataFrame(num_features, columns = ['n_features'])

In [56]:
df2['features'] = feature_list
df2['R-squared'] = R2_list

In [57]:
SSE_list2 = np.round(SSE_list,0)
df2['SSE'] = SSE_list2

In [58]:
df2.shape

(4095, 4)

In [59]:
2**6

64

In [60]:
df2[:10]

   n_features        features  R-squared           SSE
0           1         (area,)   0.671531  3.255426e+12
1           1         (beds,)   0.170837  8.217765e+12
2           1        (baths,)   0.467426  5.278297e+12
3           1       (garage,)   0.333837  6.602283e+12
4           1          (age,)   0.308599  6.852419e+12
5           1        (style,)   0.127801  8.644283e+12
6           1      (lotsize,)   0.050252  9.412873e+12
7           1       (ac_YES,)   0.083288  9.085454e+12
8           1     (pool_YES,)   0.021495  9.697877e+12
9           1  (quality_LOW,)   0.255355  7.380109e+12

In [61]:
best_r2 = df2.groupby(['n_features'])['R-squared'].max()
worst_r2 = df2.groupby(['n_features'])['R-squared'].min()

In [62]:
df3 = df2[df2['R-squared'] == best_r2[1]]
df3

   n_features features  R-squared           SSE
0           1  (area,)   0.671531  3.255426e+12

In [63]:
df3 = df2[df2['R-squared'] == worst_r2[1]]
df3

    n_features           features  R-squared           SSE
10           1  (quality_MEDIUM,)   0.001122  9.899794e+12

In [64]:
# In terms of R^2, the best predictor is area and the worst is quality

Question 5

In [65]:
df3 = df2[df2['R-squared'] == best_r2[2]]
df3

    n_features     features  R-squared           SSE
15           2  (area, age)   0.718249  2.792410e+12

In [66]:
df3 = df2[df2['R-squared'] == best_r2[1]]

In [67]:
for i in range (2,13):
    df3 = df3.append(df2[df2['R-squared'] == best_r2[i]])

In [68]:
df.shape

(522, 12)

In [69]:
n = 522

In [70]:
df3['AIC'] = n * np.log(df3['SSE']/n) + 2*df3['n_features']

In [71]:
df3['adj_R-squared'] = 1 - ((1 - df3['R-squared'])*(n-1)/(n - df3['n_features'] - 1))

In [72]:
df3

,n_features,features,R-squared,SSE,AIC,adj_R-squared
0,1,"(area,)",0.671531,3.255426e+12,11775.019159,0.670900
15,2,"(area, age)",0.718249,2.792410e+12,11696.934938,0.717163
130,3,"(area, quality_LOW, quality_MEDIUM)",0.788312,2.098016e+12,11549.688497,0.787087
425,4,"(area, age, quality_LOW, quality_MEDIUM)",0.800955,1.972717e+12,11519.543441,0.799415
1075,5,"(area, age, lotsize, quality_LOW, quality_MEDIUM)",0.817312,1.810606e+12,11476.781889,0.815542
1998,6,"(area, age, style, lotsize, quality_LOW, quali...",0.824664,1.737739e+12,11457.339881,0.822621
2838,7,"(area, baths, age, style, lotsize, quality_LOW...",0.826233,1.722190e+12,11454.648040,0.823866
3576,8,"(area, baths, age, style, lotsize, quality_LOW...",0.827582,1.708815e+12,11452.578154,0.824894
3925,9,"(area, baths, garage, age, style, lotsize, qua...",0.828783,1.696914e+12,11450.929956,0.825774
4025,10,"(area, beds, baths, garage, age, style, lotsiz...",0.829569,1.689127e+12,11450.529093,0.826234
4086,11,"(area, beds, baths, garage, age, style, lotsiz...",0.829792,1.686914e+12,11451.844898,0.826121
4094,12,"(area, beds, baths, garage, age, style, lotsiz...",0.829825,1.686594e+12,11453.745782,0.825813

In [73]:
df3.AIC.min()

11450.529093375184

In [74]:
df3[df3.AIC == df3.AIC.min()]

,n_features,features,R-squared,SSE,AIC,adj_R-squared
4025,10,"(area, beds, baths, garage, age, style, lotsiz...",0.829569,1.689127e+12,11450.529093,0.826234

In [75]:
# Best model in terms of AIC

Question 6

In [76]:
df4[:5]

,price,area,beds,baths,garage,age,style,lotsize,ac_YES,pool_YES,quality_LOW,quality_MEDIUM,highway_YES
0,360000,3032,4,4,2,29,1,22221,1,0,0,1,0
1,340000,2058,4,2,2,25,1,22912,1,0,0,1,0
2,250000,1780,4,3,2,21,1,21345,1,0,0,1,0
3,205500,1638,4,2,2,38,1,17342,1,0,0,1,0
4,275500,2196,4,3,2,33,7,21786,1,0,0,1,0

In [77]:
list2 = ['price','lotsize','quality_LOW','quality_MEDIUM']
list2

['price', 'lotsize', 'quality_LOW', 'quality_MEDIUM']

In [78]:
df5 = df4[list2]
df5[:5]

    price  lotsize  quality_LOW  quality_MEDIUM
0  360000    22221            0               1
1  340000    22912            0               1
2  250000    21345            0               1
3  205500    17342            0               1
4  275500    21786            0               1

In [79]:
P1 = df5.iloc[:,1:4]
R1 = df5.iloc[:,0]

In [80]:
P0 = P1.to_numpy()
P1 = sm.add_constant(P0)

In [81]:
m4 = sm.OLS(R1,P1).fit()

In [82]:
m4.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.679
Model:                            OLS   Adj. R-squared:                  0.677
Method:                 Least Squares   F-statistic:                     365.5
Date:                Wed, 25 Sep 2019   Prob (F-statistic):          2.04e-127
Time:                        16:06:57   Log-Likelihood:                -6621.1
No. Observations:                 522   AIC:                         1.325e+04
Df Residuals:                     518   BIC:                         1.327e+04
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       4.996e+05   1.24e+04     40.377      0.000    4.75e+05    5.24e+05
x1             1.6421      0.296      5.551      0.000       1.061       2.223
x2         -3.617e+05   1.14e+04    -31.818      0.000   -3.84e+05   -3.39e+05
x3         -2.666e+05   1.06e+04    -25.210      0.000   -2.87e+05   -2.46e+05
==============================================================================
Omnibus:                      114.013   Durbin-Watson:                   0.924
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              285.522
Skew:                           1.097   Prob(JB):                     9.99e-63
Kurtosis:                       5.883   Cond. No.                     1.42e+05
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.42e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [83]:
m4.params

const    499607.815886
x1            1.642053
x2      -361721.638336
x3      -266554.185858
dtype: float64

In [84]:
# yhat = 499607.815886 +  1.642053 lotsize - 361721.638336 quality_LOW - 266554.185858 quality_MEDIUM

Question 7

In [85]:
price = 499607.815886 +  1.642053 * 40000 - 361721.638336 * 0 - 266554.185858 * 1
price

298735.75002800004

Question 8

In [86]:
df4 = df4[(df4.beds >= 2) & (df.beds <= 4)]

In [87]:
P2 = df4.iloc[:,1:13]
R2 = df4.iloc[:,0]

In [88]:
P3 = P2.to_numpy()
P4 = sm.add_constant(P3)
P4[:5]

array([[1.0000e+00, 3.0320e+03, 4.0000e+00, 4.0000e+00, 2.0000e+00,
        2.9000e+01, 1.0000e+00, 2.2221e+04, 1.0000e+00, 0.0000e+00,
        0.0000e+00, 1.0000e+00, 0.0000e+00],
       [1.0000e+00, 2.0580e+03, 4.0000e+00, 2.0000e+00, 2.0000e+00,
        2.5000e+01, 1.0000e+00, 2.2912e+04, 1.0000e+00, 0.0000e+00,
        0.0000e+00, 1.0000e+00, 0.0000e+00],
       [1.0000e+00, 1.7800e+03, 4.0000e+00, 3.0000e+00, 2.0000e+00,
        2.1000e+01, 1.0000e+00, 2.1345e+04, 1.0000e+00, 0.0000e+00,
        0.0000e+00, 1.0000e+00, 0.0000e+00],
       [1.0000e+00, 1.6380e+03, 4.0000e+00, 2.0000e+00, 2.0000e+00,
        3.8000e+01, 1.0000e+00, 1.7342e+04, 1.0000e+00, 0.0000e+00,
        0.0000e+00, 1.0000e+00, 0.0000e+00],
       [1.0000e+00, 2.1960e+03, 4.0000e+00, 3.0000e+00, 2.0000e+00,
        3.3000e+01, 7.0000e+00, 2.1786e+04, 1.0000e+00, 0.0000e+00,
        0.0000e+00, 1.0000e+00, 0.0000e+00]])

In [89]:
m5 = sm.OLS(R2,P4).fit()
m5.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.847
Model:                            OLS   Adj. R-squared:                  0.843
Method:                 Least Squares   F-statistic:                     199.9
Date:                Wed, 25 Sep 2019   Prob (F-statistic):          8.16e-168
Time:                        16:06:57   Log-Likelihood:                -5458.0
No. Observations:                 445   AIC:                         1.094e+04
Df Residuals:                     432   BIC:                         1.100e+04
Df Model:                          12
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       1.341e+05   2.54e+04      5.274      0.000    8.41e+04    1.84e+05
x1           119.2338      7.545     15.803      0.000     104.405     134.063
x2         -3048.5476   4120.341     -0.740      0.460   -1.11e+04    5049.861
x3          7854.7296   4280.411      1.835      0.067    -558.291    1.63e+04
x4          6905.1145   4924.242      1.402      0.162   -2773.337    1.66e+04
x5         -1180.8443    193.969     -6.088      0.000   -1562.084    -799.605
x6         -6725.3801   1335.281     -5.037      0.000   -9349.836   -4100.924
x7             1.3529      0.239      5.664      0.000       0.883       1.822
x8         -1482.7782   7499.804     -0.198      0.843   -1.62e+04    1.33e+04
x9           1.88e+04   1.06e+04      1.776      0.076   -2005.219    3.96e+04
x10        -1.359e+05   1.43e+04     -9.482      0.000   -1.64e+05   -1.08e+05
x11        -1.375e+05   1.06e+04    -12.919      0.000   -1.58e+05   -1.17e+05
x12        -3.173e+04    1.7e+04     -1.868      0.062   -6.51e+04    1657.307
==============================================================================
Omnibus:                       58.950   Durbin-Watson:                   1.379
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              250.019
Skew:                           0.487   Prob(JB):                     5.12e-55
Kurtosis:                       6.541   Cond. No.                     3.08e+05
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.08e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [90]:
m5.params

const    134068.299666
x1          119.233789
x2        -3048.547572
x3         7854.729625
x4         6905.114530
x5        -1180.844252
x6        -6725.380118
x7            1.352940
x8        -1482.778151
x9        18795.984564
x10     -135852.382330
x11     -137543.235659
x12      -31725.964671
dtype: float64

In [91]:
df4.columns

Index(['price', 'area', 'beds', 'baths', 'garage', 'age', 'style', 'lotsize',
       'ac_YES', 'pool_YES', 'quality_LOW', 'quality_MEDIUM', 'highway_YES'],
      dtype='object')

In [92]:
list3 = ['price', 'area', 'beds', 'baths', 'garage', 'age', 'style', 'lotsize',
       'ac_YES', 'pool_YES', 'quality_LOW', 'quality_MEDIUM', 'highway_YES']

In [93]:
list3.remove('price')
list3.insert(0,'constant')
list3

['constant',
 'area',
 'beds',
 'baths',
 'garage',
 'age',
 'style',
 'lotsize',
 'ac_YES',
 'pool_YES',
 'quality_LOW',
 'quality_MEDIUM',
 'highway_YES']

In [94]:
list_values1 = [1, 3150, 2, 3, 2, 5, 1, 26250, 1, 0, 0, 0, 0]

In [95]:
z1 = pd.DataFrame([list_values1],columns = list3)
z1

,constant,area,beds,baths,garage,age,style,lotsize,ac_YES,pool_YES,quality_LOW,quality_MEDIUM,highway_YES
0,1,3150,2,3,2,5,1,26250,1,0,0,0,0

In [96]:
c = m5.get_prediction(z1)

In [97]:
c.summary_frame(alpha = 0.05)

,mean,mean_se,mean_ci_lower,mean_ci_upper,obs_ci_lower,obs_ci_upper
0,562334.34537,11817.550089,539107.299184,585561.391557,457308.771742,667359.918999