# HM2 - Ada Zhong

In [1]:
import numpy as np
import pandas as pd

In [2]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [3]:
df = pd.read_csv('homes.csv')

In [4]:
df.columns

Index(['price', 'area', 'beds', 'baths', 'garage', 'year', 'style', 'lotsize',
       'ac', 'pool', 'quality', 'highway'],
      dtype='object')

In [5]:
df['2001'] = 2001

In [6]:
df['age'] = df.apply(lambda row: row['2001'] - row['year'],axis=1)
df['year'] = df['age']
df = df.drop(['age','2001'],axis = 1)
df.rename(columns = {'year':'age'},inplace = True)
df[:5]

,price,area,beds,baths,garage,age,style,lotsize,ac,pool,quality,highway
0,360000,3032,4,4,2,29,1,22221,YES,NO,MEDIUM,NO
1,340000,2058,4,2,2,25,1,22912,YES,NO,MEDIUM,NO
2,250000,1780,4,3,2,21,1,21345,YES,NO,MEDIUM,NO
3,205500,1638,4,2,2,38,1,17342,YES,NO,MEDIUM,NO
4,275500,2196,4,3,2,33,7,21786,YES,NO,MEDIUM,NO

In [7]:
list1 = ['price','lotsize','area','beds','baths','age','garage']
list1

['price', 'lotsize', 'area', 'beds', 'baths', 'age', 'garage']

In [8]:
df1 = df[list1]
df1[:5]

    price  lotsize  area  beds  baths  age  garage
0  360000    22221  3032     4      4   29       2
1  340000    22912  2058     4      2   25       2
2  250000    21345  1780     4      3   21       2
3  205500    17342  1638     4      2   38       2
4  275500    21786  2196     4      3   33       2

In [9]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 522 entries, 0 to 521
Data columns (total 7 columns):
price      522 non-null int64
lotsize    522 non-null int64
area       522 non-null int64
beds       522 non-null int64
baths      522 non-null int64
age        522 non-null int64
garage     522 non-null int64
dtypes: int64(7)
memory usage: 28.6 KB

Question 1

In [10]:
import statsmodels.api as sm

In [11]:
x0 = df1.iloc[:,3]
x0[:5]

0    4
1    4
2    4
3    4
4    4
Name: beds, dtype: int64

In [12]:
y0 = df1.iloc[:,0]
y0[:5]

0    360000
1    340000
2    250000
3    205500
4    275500
Name: price, dtype: int64

In [13]:
x = x0.to_numpy()

In [14]:
x1 = sm.add_constant(x)
x1[:5]

array([[1., 4.],
       [1., 4.],
       [1., 4.],
       [1., 4.],
       [1., 4.]])

In [15]:
m1 = sm.OLS(y0,x1).fit()

In [16]:
m1.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.171
Model:                            OLS   Adj. R-squared:                  0.169
Method:                 Least Squares   F-statistic:                     107.1
Date:                Wed, 25 Sep 2019   Prob (F-statistic):           5.89e-23
Time:                        16:47:10   Log-Likelihood:                -6868.9
No. Observations:                 522   AIC:                         1.374e+04
Df Residuals:                     520   BIC:                         1.375e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       8.281e+04   1.96e+04      4.218      0.000    4.42e+04    1.21e+05
x1           5.62e+04   5429.563     10.351      0.000    4.55e+04    6.69e+04
==============================================================================
Omnibus:                      189.593   Durbin-Watson:                   0.557
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              565.334
Skew:                           1.767   Prob(JB):                    1.73e-123
Kurtosis:                       6.676   Cond. No.                         13.8
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [17]:
m1.params

const    82808.799613
x1       56200.083666
dtype: float64

In [18]:
# The estimated increase in price is $56,200 for each additional bedroom

Question 2

In [19]:
X0 = df1.iloc[:,1:7]
X0[:5]

   lotsize  area  beds  baths  age  garage
0    22221  3032     4      4   29       2
1    22912  2058     4      2   25       2
2    21345  1780     4      3   21       2
3    17342  1638     4      2   38       2
4    21786  2196     4      3   33       2

In [20]:
X = X0.to_numpy()
X1 = sm.add_constant(X)
X1[:5]

array([[1.0000e+00, 2.2221e+04, 3.0320e+03, 4.0000e+00, 4.0000e+00,
        2.9000e+01, 2.0000e+00],
       [1.0000e+00, 2.2912e+04, 2.0580e+03, 4.0000e+00, 2.0000e+00,
        2.5000e+01, 2.0000e+00],
       [1.0000e+00, 2.1345e+04, 1.7800e+03, 4.0000e+00, 3.0000e+00,
        2.1000e+01, 2.0000e+00],
       [1.0000e+00, 1.7342e+04, 1.6380e+03, 4.0000e+00, 2.0000e+00,
        3.8000e+01, 2.0000e+00],
       [1.0000e+00, 2.1786e+04, 2.1960e+03, 4.0000e+00, 3.0000e+00,
        3.3000e+01, 2.0000e+00]])

In [21]:
m2 = sm.OLS(y0,X1).fit()
m2.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.751
Model:                            OLS   Adj. R-squared:                  0.748
Method:                 Least Squares   F-statistic:                     259.4
Date:                Wed, 25 Sep 2019   Prob (F-statistic):          4.21e-152
Time:                        16:47:10   Log-Likelihood:                -6554.5
No. Observations:                 522   AIC:                         1.312e+04
Df Residuals:                     515   BIC:                         1.315e+04
Df Model:                           6
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const      -6707.5382   1.88e+04     -0.356      0.722   -4.37e+04    3.03e+04
x1             1.5550      0.272      5.717      0.000       1.021       2.089
x2           125.7386      6.963     18.057      0.000     112.059     139.419
x3         -1.304e+04   3780.397     -3.450      0.001   -2.05e+04   -5614.498
x4          7987.5518   4818.957      1.658      0.098   -1479.680    1.75e+04
x5         -1779.6108    215.487     -8.259      0.000   -2202.953   -1356.268
x6          2.253e+04   5814.344      3.875      0.000    1.11e+04     3.4e+04
==============================================================================
Omnibus:                      124.114   Durbin-Watson:                   1.327
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              384.582
Skew:                           1.110   Prob(JB):                     3.08e-84
Kurtosis:                       6.571   Cond. No.                     1.71e+05
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.71e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [22]:
m2.params

const    -6707.538167
x1           1.554990
x2         125.738603
x3      -13041.394214
x4        7987.551827
x5       -1779.610838
x6       22530.379289
dtype: float64

2.a)

In [23]:
# yhat = 9308.959377 + 1.554990 lotsize + 125.738603 area - 13041.394214 beds + 7987.551827 baths - 1779.610838 age + 22530.379289 garage

In [24]:
# coefficients as shown in params

2.b)

In [25]:
list1

['price', 'lotsize', 'area', 'beds', 'baths', 'age', 'garage']

In [26]:
list1.remove('price')
list1.insert(0,'constant')
list1

['constant', 'lotsize', 'area', 'beds', 'baths', 'age', 'garage']

In [27]:
list_values = [1,24500,2650,3,3,11,2]

In [28]:
z = pd.DataFrame([list_values],columns = list1)
z

   constant  lotsize  area  beds  baths  age  garage
0         1    24500  2650     3      3   11       2

In [29]:
p = m2.get_prediction(z)

In [30]:
p.summary_frame(alpha = 0.05)

,mean,mean_se,mean_ci_lower,mean_ci_upper,obs_ci_lower,obs_ci_upper
0,374920.532647,6511.365875,362128.426983,387712.63831,238431.17994,511409.885353

2.c)

In [31]:
np.median(df1,axis=0)

array([2.299e+05, 2.220e+04, 2.061e+03, 3.000e+00, 3.000e+00, 3.500e+01,
       2.000e+00])

In [32]:
median_values = [1, 2.220e+04, 2.061e+03, 3.000e+00, 3.000e+00, 3.500e+01,
       2.000e+00]

In [33]:
m = pd.DataFrame([median_values],columns = list1)
m

   constant  lotsize    area  beds  baths   age  garage
0         1  22200.0  2061.0   3.0    3.0  35.0     2.0

In [34]:
q = m2.get_prediction(m)

In [35]:
q.summary_frame()

,mean,mean_se,mean_ci_lower,mean_ci_upper,obs_ci_lower,obs_ci_upper
0,254573.357919,4595.921615,245544.29765,263602.418187,118385.144904,390761.570933

Question 3

In [36]:
df1.corr()

            price   lotsize      area      beds     baths       age    garage
price    1.000000  0.224169  0.819470  0.413324  0.683685 -0.555516  0.577786
lotsize  0.224169  1.000000  0.157525  0.126538  0.147007  0.100452  0.152219
area     0.819470  0.157525  1.000000  0.557838  0.755273 -0.441197  0.533766
beds     0.413324  0.126538  0.557838  1.000000  0.583447 -0.268692  0.316814
baths    0.683685  0.147007  0.755273  0.583447  1.000000 -0.512841  0.489898
age     -0.555516  0.100452 -0.441197 -0.268692 -0.512841  1.000000 -0.461760
garage   0.577786  0.152219  0.533766  0.316814  0.489898 -0.461760  1.000000

In [37]:
# In terms of correlation with the house price, the best predictor is area and the worst is lot size.

In [38]:
df[:5]

,price,area,beds,baths,garage,age,style,lotsize,ac,pool,quality,highway
0,360000,3032,4,4,2,29,1,22221,YES,NO,MEDIUM,NO
1,340000,2058,4,2,2,25,1,22912,YES,NO,MEDIUM,NO
2,250000,1780,4,3,2,21,1,21345,YES,NO,MEDIUM,NO
3,205500,1638,4,2,2,38,1,17342,YES,NO,MEDIUM,NO
4,275500,2196,4,3,2,33,7,21786,YES,NO,MEDIUM,NO

In [39]:
df.quality.unique()

array(['MEDIUM', 'LOW', 'HIGH'], dtype=object)

In [40]:
pd.value_counts(df.quality)

MEDIUM    290
LOW       164
HIGH       68
Name: quality, dtype: int64

In [41]:
df2 = pd.get_dummies(df,columns = ['ac','pool','quality','highway','style'], drop_first = True)
df2[:5]

,price,area,beds,baths,garage,age,lotsize,ac_YES,pool_YES,quality_LOW,...,highway_YES,style_2,style_3,style_4,style_5,style_6,style_7,style_9,style_10,style_11
0,360000,3032,4,4,2,29,22221,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,340000,2058,4,2,2,25,22912,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,250000,1780,4,3,2,21,21345,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,205500,1638,4,2,2,38,17342,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,275500,2196,4,3,2,33,21786,1,0,0,...,0,0,0,0,0,0,1,0,0,0

In [42]:
df4 = df2

Question 4

In [43]:
R = df1.price
P = df1.drop(columns = 'price', axis = 1)

In [44]:
m3 = LinearRegression().fit(P,R)

In [45]:
MSE = mean_squared_error(R,m3.predict(P))
SSE = MSE * len(R)
R_squared = m3.score(P,R)

In [46]:
def get_sse(P, R):
    model_k = LinearRegression().fit(P, R)
    SSE = mean_squared_error(R,model_k.predict(P))*len(R)
    R_squared = model_k.score(P,R)
    return SSE, R_squared

In [47]:
SSE, R_squared = get_sse(P,R)

In [48]:
SSE_list, R2_list, feature_list, num_features = [],[],[],[]

In [49]:
import itertools

In [50]:
col = P.columns
t = len(P.columns)

In [51]:
itertools.combinations(col,2)

In [52]:
list(itertools.combinations(col,2))

[('lotsize', 'area'),
 ('lotsize', 'beds'),
 ('lotsize', 'baths'),
 ('lotsize', 'age'),
 ('lotsize', 'garage'),
 ('area', 'beds'),
 ('area', 'baths'),
 ('area', 'age'),
 ('area', 'garage'),
 ('beds', 'baths'),
 ('beds', 'age'),
 ('beds', 'garage'),
 ('baths', 'age'),
 ('baths', 'garage'),
 ('age', 'garage')]

In [53]:
list(range(1,t+1))

[1, 2, 3, 4, 5, 6]

In [54]:
for k in range (1, t+1):
    for subset in itertools.combinations(P.columns,k):
        
        temp = get_sse(P[list(subset)],R)
        
        SSE_list.append(temp[0])
        R2_list.append(temp[1])
        feature_list.append(subset)
        num_features.append(len(subset))

In [55]:
df1 = pd.DataFrame(num_features, columns = ['n_features'])

In [56]:
df1['features'] = feature_list
df1['R-squared'] = R2_list

In [57]:
SSE_list2 = np.round(SSE_list,0)
df1['SSE'] = SSE_list2

In [58]:
df1.shape

(63, 4)

In [59]:
2**6

64

In [60]:
df1[:10]

   n_features          features  R-squared           SSE
0           1        (lotsize,)   0.050252  9.412873e+12
1           1           (area,)   0.671531  3.255426e+12
2           1           (beds,)   0.170837  8.217765e+12
3           1          (baths,)   0.467426  5.278297e+12
4           1            (age,)   0.308599  6.852419e+12
5           1         (garage,)   0.333837  6.602283e+12
6           2   (lotsize, area)   0.680802  3.163546e+12
7           2   (lotsize, beds)   0.200856  7.920250e+12
8           2  (lotsize, baths)   0.483056  5.123388e+12
9           2    (lotsize, age)   0.387781  6.067645e+12

In [61]:
best_r2 = df1.groupby(['n_features'])['R-squared'].max()
worst_r2 = df1.groupby(['n_features'])['R-squared'].min()

In [62]:
df3 = df1[df1['R-squared'] == best_r2[1]]
df3

   n_features features  R-squared           SSE
1           1  (area,)   0.671531  3.255426e+12

In [63]:
df3 = df1[df1['R-squared'] == worst_r2[1]]
df3

   n_features    features  R-squared           SSE
0           1  (lotsize,)   0.050252  9.412873e+12

In [64]:
# In terms of R^2, the best predictor is area and the worst is quality

Question 5

In [65]:
df3 = df1[df1['R-squared'] == best_r2[2]]
df3

    n_features     features  R-squared           SSE
13           2  (area, age)   0.718249  2.792410e+12

In [66]:
df3 = df1[df1['R-squared'] == best_r2[1]]

In [67]:
for i in range (2,7):
    df3 = df3.append(df1[df1['R-squared'] == best_r2[i]])

In [68]:
df.shape

(522, 12)

In [69]:
n = 522

In [70]:
df3['AIC'] = n * np.log(df3['SSE']/n) + 2*df3['n_features']

In [71]:
df3['adj_R-squared'] = 1 - ((1 - df3['R-squared'])*(n-1)/(n - df3['n_features'] - 1))

In [72]:
df3

,n_features,features,R-squared,SSE,AIC,adj_R-squared
1,1,"(area,)",0.671531,3.255426e+12,11775.019159,0.670900
13,2,"(area, age)",0.718249,2.792410e+12,11696.934938,0.717163
23,3,"(lotsize, area, age)",0.737944,2.597213e+12,11661.107762,0.736426
46,4,"(lotsize, area, age, garage)",0.745438,2.522941e+12,11647.962610,0.743468
58,5,"(lotsize, area, beds, age, garage)",0.750063,2.477102e+12,11640.391242,0.747641
62,6,"(lotsize, area, beds, baths, age, garage)",0.751389,2.463958e+12,11639.613904,0.748493

In [73]:
df3.AIC.min()

11639.613904336478

In [74]:
df3[df3.AIC == df3.AIC.min()]

,n_features,features,R-squared,SSE,AIC,adj_R-squared
62,6,"(lotsize, area, beds, baths, age, garage)",0.751389,2.463958e+12,11639.613904,0.748493

In [75]:
# Best model in terms of AIC

In [76]:
# yhat = 9308.959377 + 1.554990 lotsize + 125.738603 area - 13041.394214 beds + 7987.551827 baths - 1779.610838 age + 22530.379289 garage

Question 6

In [77]:
df4[:5]

,price,area,beds,baths,garage,age,lotsize,ac_YES,pool_YES,quality_LOW,...,highway_YES,style_2,style_3,style_4,style_5,style_6,style_7,style_9,style_10,style_11
0,360000,3032,4,4,2,29,22221,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,340000,2058,4,2,2,25,22912,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,250000,1780,4,3,2,21,21345,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,205500,1638,4,2,2,38,17342,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,275500,2196,4,3,2,33,21786,1,0,0,...,0,0,0,0,0,0,1,0,0,0

In [78]:
list2 = ['price','lotsize','quality_LOW','quality_MEDIUM']
list2

['price', 'lotsize', 'quality_LOW', 'quality_MEDIUM']

In [79]:
df5 = df4[list2]
df5[:5]

    price  lotsize  quality_LOW  quality_MEDIUM
0  360000    22221            0               1
1  340000    22912            0               1
2  250000    21345            0               1
3  205500    17342            0               1
4  275500    21786            0               1

In [80]:
P1 = df5.iloc[:,1:4]
R1 = df5.iloc[:,0]

In [81]:
P0 = P1.to_numpy()
P1 = sm.add_constant(P0)

In [82]:
m4 = sm.OLS(R1,P1).fit()

In [83]:
m4.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.679
Model:                            OLS   Adj. R-squared:                  0.677
Method:                 Least Squares   F-statistic:                     365.5
Date:                Wed, 25 Sep 2019   Prob (F-statistic):          2.04e-127
Time:                        16:47:12   Log-Likelihood:                -6621.1
No. Observations:                 522   AIC:                         1.325e+04
Df Residuals:                     518   BIC:                         1.327e+04
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       4.996e+05   1.24e+04     40.377      0.000    4.75e+05    5.24e+05
x1             1.6421      0.296      5.551      0.000       1.061       2.223
x2         -3.617e+05   1.14e+04    -31.818      0.000   -3.84e+05   -3.39e+05
x3         -2.666e+05   1.06e+04    -25.210      0.000   -2.87e+05   -2.46e+05
==============================================================================
Omnibus:                      114.013   Durbin-Watson:                   0.924
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              285.522
Skew:                           1.097   Prob(JB):                     9.99e-63
Kurtosis:                       5.883   Cond. No.                     1.42e+05
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.42e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [84]:
m4.params

const    499607.815886
x1            1.642053
x2      -361721.638336
x3      -266554.185858
dtype: float64

In [85]:
# yhat = 499607.815886 +  1.642053 lotsize - 361721.638336 quality_LOW - 266554.185858 quality_MEDIUM

Question 7

In [86]:
price = 499607.815886 +  1.642053 * 40000 - 361721.638336 * 0 - 266554.185858 * 1
price

298735.75002800004

Question 8

In [87]:
df4 = df4[(df4.beds >= 2) & (df.beds <= 4)]

In [88]:
P2 = df4.iloc[:,1:22]
R2 = df4.iloc[:,0]

In [89]:
P3 = P2.to_numpy()
P4 = sm.add_constant(P3)
P4[:5]

array([[1.0000e+00, 3.0320e+03, 4.0000e+00, 4.0000e+00, 2.0000e+00,
        2.9000e+01, 2.2221e+04, 1.0000e+00, 0.0000e+00, 0.0000e+00,
        1.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
        0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
        0.0000e+00],
       [1.0000e+00, 2.0580e+03, 4.0000e+00, 2.0000e+00, 2.0000e+00,
        2.5000e+01, 2.2912e+04, 1.0000e+00, 0.0000e+00, 0.0000e+00,
        1.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
        0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
        0.0000e+00],
       [1.0000e+00, 1.7800e+03, 4.0000e+00, 3.0000e+00, 2.0000e+00,
        2.1000e+01, 2.1345e+04, 1.0000e+00, 0.0000e+00, 0.0000e+00,
        1.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
        0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
        0.0000e+00],
       [1.0000e+00, 1.6380e+03, 4.0000e+00, 2.0000e+00, 2.0000e+00,
        3.8000e+01, 1.7342e+04, 1.0000e+00, 0.0000e+00, 0.0000e+00,
        1.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
        0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
        0.0000e+00],
       [1.0000e+00, 2.1960e+03, 4.0000e+00, 3.0000e+00, 2.0000e+00,
        3.3000e+01, 2.1786e+04, 1.0000e+00, 0.0000e+00, 0.0000e+00,
        1.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
        0.0000e+00, 0.0000e+00, 1.0000e+00, 0.0000e+00, 0.0000e+00,
        0.0000e+00]])

In [99]:
m5 = sm.OLS(R2,P4).fit()
m5.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.852
Model:                            OLS   Adj. R-squared:                  0.845
Method:                 Least Squares   F-statistic:                     135.9
Date:                Wed, 25 Sep 2019   Prob (F-statistic):          1.08e-163
Time:                        16:47:23   Log-Likelihood:                -5451.8
No. Observations:                 445   AIC:                         1.094e+04
Df Residuals:                     426   BIC:                         1.102e+04
Df Model:                          18
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       1.296e+05   2.67e+04      4.848      0.000    7.71e+04    1.82e+05
x1           117.2176      7.739     15.146      0.000     102.006     132.429
x2         -2222.9820   4148.594     -0.536      0.592   -1.04e+04    5931.279
x3          9246.5631   4285.513      2.158      0.032     823.180    1.77e+04
x4          7423.7368   4914.563      1.511      0.132   -2236.074    1.71e+04
x5         -1300.6190    199.782     -6.510      0.000   -1693.300    -907.938
x6             1.3283      0.238      5.584      0.000       0.861       1.796
x7         -1075.0761   7501.411     -0.143      0.886   -1.58e+04    1.37e+04
x8          2.163e+04   1.06e+04      2.042      0.042     813.263    4.25e+04
x9         -1.368e+05   1.45e+04     -9.433      0.000   -1.65e+05   -1.08e+05
x10        -1.363e+05   1.08e+04    -12.640      0.000   -1.58e+05   -1.15e+05
x11         -3.18e+04   1.69e+04     -1.884      0.060    -6.5e+04    1380.295
x12        -2.006e+04   8638.441     -2.322      0.021    -3.7e+04   -3080.425
x13        -1.151e+04   8251.632     -1.395      0.164   -2.77e+04    4707.107
x14          2.31e+04   1.72e+04      1.346      0.179   -1.06e+04    5.68e+04
x15        -7407.6304   1.55e+04     -0.479      0.632   -3.78e+04     2.3e+04
x16         -3.06e+04   1.51e+04     -2.029      0.043   -6.02e+04    -951.905
x17        -4.664e+04   8514.836     -5.477      0.000   -6.34e+04   -2.99e+04
x18        -9.094e+04   5.26e+04     -1.728      0.085   -1.94e+05    1.25e+04
x19                 0          0        nan        nan           0           0
x20                 0          0        nan        nan           0           0
==============================================================================
Omnibus:                       58.445   Durbin-Watson:                   1.344
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              269.978
Skew:                           0.449   Prob(JB):                     2.37e-59
Kurtosis:                       6.709   Cond. No.                          inf
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is      0. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [91]:
m5.params

const    129624.625814
x1          117.217570
x2        -2222.982001
x3         9246.563083
x4         7423.736755
x5        -1300.618978
x6            1.328298
x7        -1075.076122
x8        21631.695378
x9      -136786.651074
x10     -136349.569750
x11      -31800.514325
x12      -20059.697192
x13      -11511.873749
x14       23097.272898
x15       -7407.630425
x16      -30595.698404
x17      -46636.802875
x18      -90937.907311
x19           0.000000
x20           0.000000
dtype: float64

In [92]:
df4.columns

Index(['price', 'area', 'beds', 'baths', 'garage', 'age', 'lotsize', 'ac_YES',
       'pool_YES', 'quality_LOW', 'quality_MEDIUM', 'highway_YES', 'style_2',
       'style_3', 'style_4', 'style_5', 'style_6', 'style_7', 'style_9',
       'style_10', 'style_11'],
      dtype='object')

In [93]:
list3 = ['price', 'area', 'beds', 'baths', 'garage', 'age', 'lotsize',
       'ac_YES', 'pool_YES', 'quality_LOW', 'quality_MEDIUM', 'highway_YES', 'style_2',
       'style_3', 'style_4', 'style_5', 'style_6', 'style_7', 'style_9',
       'style_10', 'style_11']

In [94]:
list3.remove('price')
list3.insert(0,'constant')
list3

['constant',
 'area',
 'beds',
 'baths',
 'garage',
 'age',
 'lotsize',
 'ac_YES',
 'pool_YES',
 'quality_LOW',
 'quality_MEDIUM',
 'highway_YES',
 'style_2',
 'style_3',
 'style_4',
 'style_5',
 'style_6',
 'style_7',
 'style_9',
 'style_10',
 'style_11']

In [95]:
list_values1 = [1, 3150, 2, 3, 2, 5, 26250, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [96]:
z1 = pd.DataFrame([list_values1],columns = list3)
z1

,constant,area,beds,baths,garage,age,lotsize,ac_YES,pool_YES,quality_LOW,...,highway_YES,style_2,style_3,style_4,style_5,style_6,style_7,style_9,style_10,style_11
0,1,3150,2,3,2,5,26250,1,1,0,...,0,0,0,0,0,0,0,0,0,0

In [97]:
c = m5.get_prediction(z1)

In [98]:
c.summary_frame(alpha = 0.05)

,mean,mean_se,mean_ci_lower,mean_ci_upper,obs_ci_lower,obs_ci_upper
0,585922.526796,15323.494616,555803.458271,616041.595321,479849.693761,691995.359832